body, h1 {
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
	margin: 0;
}
.landing {
	background: #084759;
	width: 100%;
	min-height: 500px;
	border-bottom: 20px #66B6CD solid;
	padding: 0px 20px 50px 20px;
}
.landing-text {
	color: #fff;
	margin: 0 auto;
	text-align: center;
	padding-top: 15px;
}
.landing-text h1 {
	margin: 50px 0px;
	color: #fff;
	font-weight: 100;
	font-size: 60px;
}

a {
	text-transform: uppercase;
	color: #fff;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;;
}

a:hover {
	color: #1d83a4;
}

.landing-text .icon-user, .icon-mobile-phone, .icon-time, .icon-smile {
	font-size: 100px;
}

.connection {
	display: inline-block;
	margin: 0px 50px;
	vertical-align: middle;
	padding-bottom: 50px;
	font-size: 30px;
}

.landing-text p {
	font-size: 20px;
}

.instructions {
	text-align: center;
	min-height: 400px;
	background: url('../static/img/grilled.png');
	padding-bottom: 50px;
	border-bottom: 20px #66B6CD solid;
}

.instructions h1 {
	font-size: 70px;
	padding: 30px;
	color: #084759;
}

.instructions ol {
	font-weight: normal;
	margin: 0 auto;
	padding: 0px 10px 10px 10px;
	max-width: 650px;
	font-size: 20px;
	text-align: left;
}

.instructions .examples {
	text-align: center;
	color: #084759;
	background: #66B6CD;
	padding: 10px;
	border-radius: 5px;
	font-size: 16px;
}
.instructions .examples ul {
	list-style: none;
}

h6 {
	color: #084759;
	font-family: 'Raleway', sans-serif;
	font-weight: normal;
	font-size: 20px;
	text-transform: uppercase;
}
.list-container {
	margin: 0px 50px;
}

.footer {
	padding-top: 20px;
	min-height: 100px;
	background: #084759;
}

.footer p {
	text-align: center;
	margin: 0;
	color: #fff;
}

@media (max-width: 750px) { 
	.landing {
		min-height: 400px;
	}
	.landing h1 {
		font-size: 50px;
	}
	.steps {
		margin-bottom: 20px;
	}
	.landing-text .icon-user, .icon-mobile-phone, .icon-time, .icon-smile {
		font-size: 50px;
	}
	.connection {
		display: inline-block;
		margin: 0px 10px;
		vertical-align: middle;
		padding-bottom: 20px;
		font-size: 10px;
	}
}
