<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Excuseti.me</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <!-- fonts -->
        <link href='http://fonts.googleapis.com/css?family=Raleway:400,100' rel='stylesheet' type='text/css'>

        <!-- stylesheets -->
        <link rel="stylesheet" type="text/css" href="../static/foundation/css/normalize.css">
        <link rel="stylesheet" type="text/css" href="../static/foundation/css/foundation.min.css">
        <link rel="stylesheet" type="text/css" href="../static/style.css">
        <link rel="stylesheet" type="text/css" href="../static/font-awesome/css/font-awesome.min.css">

        <script src="static/jquery-1.10.2.min.js"></script>
    </head>

    <body>
        <div class='landing'>
            <div class='landing-text'>
                <h1><a href='/'>Excuseti.me</a></h1>
                <div class='steps'>
                    <i class="icon-user"></i>
                    <div class='connection'><i class="icon-long-arrow-right"></i></div>
                    <i class="icon-time"></i>
                    <div class='connection'><i class="icon-long-arrow-right"></i></div>
                    <i class="icon-mobile-phone"></i>
                    <div class='connection'><i class="icon-long-arrow-right"></i></div>
                    <i class="icon-smile"></i>
                </div>
                <p>Text 424-229-9993 a time, receive a call, and get out of your obligations.</p>
                </div>
            </div>
        </div>
        <div class='instructions'>
            <h1>So how does it work?</h1>
            <div class='list-container'>
                <ol>
                    <li>Text a time that you want to receive a call to <strong>424-229-9993</strong>.</li>
                    <div class='examples'>
                        <h6>Examples of things you can text:</h6>
                        <ul>
                            <li>Tomorrow at 11:45am</li>
                        </ul>
                    </div>
                    <li>Receive a call during that meeting you <em>really</em> don't want to be in.</li>
                    <li>Feign surprise during said meeting.</li>
                    <li>Leave.</li>
                </ol>
            </div>
        </div>
        <div class='footer'>
            <p>Made for the <a target='_blank' href='http://hackny.org'>hackNY</a> fall 2013 hackathon.</p>
            <p><a target='_blank' href="http://github.com/dariajung/excuse-timer">GitHub Repo</a></p>
        </div>
    </body>
    <script>
    </script>
</html>